@import '../values.scss';

header {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 3rem;
  @include respond-until($screen-xl) {
    padding: 1rem 1.5rem 2rem;
  }
  @include respond-until($screen-s) {
    padding: 0.5rem 0.75rem 1rem;
  }

  .headerWrapper {
    position: relative;
    display: block;

    h2 {
      font-size: 3rem;
      line-height: 1em;
      letter-spacing: -0.5px;
      transition: font-size 0.2s;
      white-space: nowrap;
      background: $grey;
      z-index: 9;
      position: relative;
      display: inline-block;
      left: 0;
      padding-right: 1.5rem;

      @include respond-until($screen-l) {
        font-size: 2.5rem;
      }
      @include respond-until($screen-s) {
        font-size: 2rem;
      }
      @include respond-until($screen-xs) {
        font-size: 1.75rem;
      }
    }

    .line {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;

      max-width: calc(100vw - 300px);
      overflow: hidden;
      
      @include respond-until($screen-s) {
        position: relative;
        right: unset;
        top: unset;
        max-width: 100%;
      }
    }
  }

  nav {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-gap: 1rem;
    align-self: flex-end;
    flex-direction: row;
    padding-top: 2rem;
    @include respond-until($screen-s) {
      display: none;
    }

    .nav-link {
      font-size: 0.75rem;
      line-height: 1em;
      letter-spacing: 0.75px;
      text-transform: uppercase;
      display: flex;
      align-items: flex-end;
      padding: .5rem 0;

      &:before {
        content: '';
        width: 1.5rem;
        height: 1px;
        background: $black;
        display: block;
        margin-right: 0.25rem;
        margin-bottom: 2px;
      }
    }
  }
}