@import '../values.scss';
@import '../mixins.scss';

header {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 3rem;
  @include respond-until($screen-xl) {
    padding: 1rem 2rem 2rem;
  }
  @include respond-until($screen-s) {
    padding: 0.5rem 0.75rem 1rem;
  }

  &.open {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: $grey;
    z-index: 99;

    nav {
      height: 100vh;
      width: 100%;
      left: 0;
      top: 0;
      @include flex-center;
      flex-direction: column;
      justify-content: space-between;
      background-color: $grey;
      grid-template-columns: repeat(1, minmax(min-content, max-content));
      padding: 4rem 0 8rem;

      .nav-link {
        font-size: 0.875rem;
        padding: 0.5rem;

        &:before {
          content: none;
        }
      }
    }
  }

  .headerWrapper {
    position: relative;
    display: block;

    h2 {
      font-size: 3rem;
      line-height: 1em;
      letter-spacing: -0.5px;
      transition: font-size 0.2s;
      white-space: nowrap;
      background: $grey;
      z-index: 9;
      position: relative;
      display: inline-block;
      left: 0;
      padding-right: 1.5rem;
      @include respond-until($screen-l) {
        font-size: 2.5rem;
      }
      @include respond-until($screen-s) {
        font-size: 2rem;
      }
      @include respond-until($screen-xs) {
        font-size: 1.75rem;
      }
    }

    .line {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      max-width: calc(100vw - 300px);
      overflow: hidden;
      @include respond-until($screen-s) {
        position: relative;
        right: unset;
        top: unset;
        max-width: 100%;
      }
    }
  }

  .nav-btn {
    display: none;
  }
  @include respond-until($screen-s) {
    .nav-btn {
      display: block;
      position: fixed;
      bottom: 3rem;
      right: 0.5rem;
      width: 3rem;
      cursor: pointer;
      z-index: 99;
    }
  }

  nav {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-gap: 1.25rem;
    align-self: flex-end;
    flex-direction: row;
    padding-top: 2.5rem;
    @include respond-until($screen-s) {
      display: none;
    }

    &:not(:hover) {
      .nav-link {
        opacity: 1;
      }
    }

    .nav-link {
      font-size: 0.75rem;
      line-height: 1em;
      letter-spacing: 0.75px;
      text-transform: uppercase;
      display: flex;
      align-items: flex-end;
      transition: opacity 0.15s;
      opacity: 0.4;

      &:hover {
        opacity: 1;
      }

      &:hover ~ a {
        opacity: 0.4;
      }

      &:before {
        content: '';
        width: 1.5rem;
        height: 1px;
        background: $black;
        display: block;
        margin-right: 0.375rem;
        margin-bottom: 3px;
      }
    }
  }
}