@import '../values.scss';

footer {
  display: grid;
  grid-template-columns: repeat(2, fit-content(2rem));
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: rgba($black, 0.3);
  padding: 3rem 1rem 2rem;
  @include respond-until($screen-xs) {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1.5rem;
  }

  p {
    white-space: nowrap;
    @include respond-until($screen-xs) {
      font-size: 0.75rem;
    }
  }

  a {
    transition: color 0.15s;
    border-bottom: 1px solid;

    &:hover {
      color: $black;
    }
  }
}