html {
  font-size: 16px;
  line-height: 1.3em;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: $black;
  background: $grey;
  font-family: $sneak-reg;
  min-height: 100vh;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  em {
    font-family: $sneak-itl;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

article {
  width: 100%;
  max-width: 1600px;
  padding: 0 0 2rem;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}
