// Sneak Regular
@font-face {
  font-family: 'Sneak-Regular';
  src:url("~assets/fonts/Sneak-Regular.woff2") format("woff2"), src: url("~assets/fonts/Sneak-Regular.woff") format("woff");
}
// Sneak Italic
@font-face {
  font-family: 'Sneak-Regular';
  src:url("~assets/fonts/Sneak-Regular-Italic.woff2") format("woff2"), src: url("~assets/fonts/Sneak-Regular-Italic.woff") format("woff");
  font-style: italic;
}